/* basic tags */
html {
    margin: 0px;
    padding: 0px;
    border: 0px;
}
body {
    position: relative;
    top: 0px;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
h1 {
    font-family: 'Karla', sans-serif;
    text-align: center;
    font-size: 140px;
    font-weight: normal;
    height: 132px;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
h2 {
    font-family: 'Goudy Bookletter 1911', serif;
    text-align: center;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

/* basic article markup */
.title {
    font-size: 40px;
}
.author {
    font-size: 35px;
}

/* top-level structure */
.container {
    position: relative;
    width: 100%;
}

.content {
    width: 960px;
}

/* mid-level structure */
.page-header {
    width: 880px;
    padding: 0px;
    margin-top: 5px;
    margin-left: 40px;
    margin-right: 40px;
}
.page-header a {
    text-decoration: none;
    color: black;
}
.page-subheader {
    width: 880px;
    margin-top: 100px;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.homepage-section {
    width: 880px;
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 40px;
}
.page-section {
    width: 880px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 40px;
}
.page-section p {
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 22px;
}
.page-section iframe {
    width: 880px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left:auto;
    margin-right:auto;
}
.page-section > img {
    width: 880px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left:auto;
    margin-right:auto;
}
.page-footer {
    width: 960px;
    margin-top: 120px;
    margin-bottom: 100px;
    margin-left: 0px;
    margin-right: 0px;
}
.page-footer h2, .page-footer a {
    font-family: 'Pontano Sans', sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: black;
}


.section-header {
    width: 880px;
    height: 80px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 40px;
    border-bottom-style: solid;
    border-color: black;
    border-width: 1px;
}
.section-header h2 {
    font-family: 'Telex', sans-serif;
}
.section {
    width: 880px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 40px;
}
.section-list {
    padding-top: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.section-list img {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left:auto;
    margin-right:auto;
}


/* basic elements */
.link {
    position: relative;
    display: block;
    width: 140px;
    height: 140px;
    border: 2px solid black;
}
.bold {
    font-weight: bold;
}
.tabs {
    width: 960px;
    height: 70px;
    margin: 20px;
    margin-top: 40px;
}
.tab {
    margin-right: 5px;
    padding: 20px;
    float: left;
    border-left-style: solid;
    border-top-style: solid;
    border-color: black;
    border-width: 1px;
}
.fullscreen {
    width: 880px;
}
.thumbnail {
    width: 140px;
    height: 140px;
    margin: 0px;
}
.nobullets {
    list-style-type: none;
}

.grid {
    width: 736px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    border-style: none;
}
.grid:after {
    content: " ";
    clear: both;
    height: 0;
    display: block;
}
.cell {
    float: left;
    width: 144px;
    /*height: 140px;*/
    padding: 0px;
    margin: 20px;
    /*border: 2px solid black;*/
}
.cell a {
    text-decoration: none;
}
.label {
    position: absolute;
    width: 140px;
    height: 140px;
    top: 0px;
    left: 0px;
    background: white;
    font-color: black;
    opacity: 0.8;
}
.label h3 {
    font-family: 'Pontano Sans', sans-serif;
    color: black;
    padding: 1px;
    text-decoration: none;
}
